    <div class="footer-navbar">
        <a href="{{ path('home_index') }}"><img src="{{ asset('images/home.png') }}" alt=""></a>
        <a href="{{ path('api_index') }}"><img src="{{ asset('images/recherche.png') }}" alt=""></a>
        <a href="{{ path('travaux') }}"><img src="{{ asset('images/parametre.png') }}" alt=""></a>
        <a href="{{ path('app_message_new') }}"><img src="{{ asset('images/contact.png') }}" alt=""></a>
        <a href="{{ path('app_logout') }}"><img src="{{ asset('images/logout.png') }}" alt=""></a>
    </div>